<nav class="navbar navbar-dark navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a
      id="brand"
      class="navbar-brand nav-brand-manual brand-text space-grotesk-nav"
      href="./"
      ><span class="space-grotesk-brand" id="cap-a">A</span>
      <span class="stretch"> a</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse nav-manual"
      id="navbarSupportedContent"
    >
      <ul
        class="navbar-nav mb-2 mb-lg-0 justify-content-right space-grotesk-nav"
      >
        <li class="nav-item">
          <a class="nav-link menu-text navlinks" aria-current="page" href="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link menu-text navlinks" href="./#feat-proj"
            >Featured Project</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link menu-text navlinks" href="./#projs-section"
            >Projects</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link menu-text navlinks" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a
            class="menu-text nav-link navlinks"
            id="connect-wallet-button"
            href=""
            >Connect Wallet</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
