
  <div
    class="card m-2 bg-transparent justify-content-center align-items-center"
  >
    <img
      src="<%=image %>"
      class="card-img-top"
      alt="An image of the <%= name %> project"
    />
    <div>
      <div class="card-title bg-transparent p-2 mt-2">
        <h3 class="space-grotesk-white"><%= name %></h3>
      </div>
    </div>
    <div class="w-100">
      <a href="<%= link %>" class="card-proj-btn">PROJECT PROFILE ==></a>
    </div>
  </div>
