<section
  id="feat-proj"
  class="d-flex flex-column justify-content-center align-items-center space-grotesk"
>
  <div class="container-fluid" id="about-me">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <img
          class="feat-img"
          src=" <%=
      imgUrl %> "
          alt=""
        />
      </div>
      <div
        class="col-lg-6 col-md-12 d-flex align-items-center flex-column justify-content-center mt-5 mb-5"
      >
        <div class="justify-content-center align-items-center">
          <h1><%= name %></h1>
          <h5><span id="num-minted">x</span>/10 Minted</h5>
          <h5><%= desc %></h5>
          <h5>
            Cost:
            <span id="num-minted"> <%= price%> </span>
            Ξ
          </h5>
        </div>
      </div>
    </div>
    <div class="row">
      <a  class="proj-button" id="mint-button" >MINT THIS PROJECT =></a>
    </div>
  </div>
</section>
